.l-module, %l-module
  width: 100%
  vertical-align: top
  overflow: hidden

.l-module--spaced
  @extend %l-module
  padding: $l-l 0
  @media only screen and (min-width: $second-break)
    padding: $l-xxl 0

.l-module--wide
  @extend %l-module
  padding: $l-m 0
  @media only screen and (min-width: $second-break)
    padding: $l-xl 0


.l-container, %l-container
  width: 90%
  max-width: 1280px
  margin: 0 auto
  display: block
  overflow: hidden


.l-container--wide
  @extend %l-container
  padding: $l-s
  @media only screen and (min-width: $second-break)
    padding: $l-l
    max-width: 816px
