---
title: VIBES PROTOTYPE
---

%section.header
  %h1 GOODVI.BE


%section#flex-wrap
  .l-container--narrow
    #title     
      :javascript
          new Medium({
              element: document.getElementById('title'),
              mode: 'inline',
              placeholder: 'Write a nice title'
          });

    #article
      :javascript  
        new Medium({
            element: document.getElementById('article'),
            mode: 'rich',
            maxLength: 500,
            placeholder: 'Write a positive message'
        });      

    %div.image-wrap
      %img{:src=>"img/guy.png"}
      %span choose a person to send it to


    %button.btn-primary.mt{:href => "#"}
      %span SEND